music-generation-workflow.json
{
  "name": "Music Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-music-ai",
        "responseMode": "onReceived",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "generate-music-ai"
    },
    {
      "parameters": {
        "url": "https://api.piapi.ai/api/v1/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.PIAPI_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "musicgen-large-v1.5"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "duration",
              "value": "={{ $json.duration }}"
            },
            {
              "name": "genre",
              "value": "={{ $json.genre }}"
            },
            {
              "name": "quality",
              "value": "={{ $json.quality }}"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-music",
      "name": "Generate Music",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.piapi.ai/api/v1/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.PIAPI_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "flux-1.1-pro"
            },
            {
              "name": "prompt",
              "value": "={{ $json.artworkPrompt }}"
            },
            {
              "name": "width",
              "value": "512"
            },
            {
              "name": "height",
              "value": "512"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-artwork",
      "name": "Generate Artwork",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.duration }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-extend",
      "name": "Check if Extend",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.piapi.ai/api/v1/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.PIAPI_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "musicgen-large-v1.5"
            },
            {
              "name": "prompt",
              "value": "={{ $('Webhook').item.json.prompt }} extended version"
            },
            {
              "name": "duration",
              "value": "={{ parseInt($('Webhook').item.json.duration) * 2 }}"
            },
            {
              "name": "genre",
              "value": "={{ $('Webhook').item.json.genre }}"
            },
            {
              "name": "quality",
              "value": "={{ $('Webhook').item.json.quality }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extend-music",
      "name": "Extend Music",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"audio_url\": $('Generate Music').item.json.output_url,\n  \"image_url\": $('Generate Artwork').item.json.output_url,\n  \"extended_audio_url\": $('Extend Music').item?.json?.output_url || null,\n  \"prompt\": $('Webhook').item.json.prompt,\n  \"artworkPrompt\": $('Webhook').item.json.artworkPrompt,\n  \"genre\": $('Webhook').item.json.genre,\n  \"duration\": $('Webhook').item.json.duration,\n  \"quality\": $('Webhook').item.json.quality,\n  \"status\": \"completed\",\n  \"timestamp\": new Date().toISOString()\n} }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Music",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Artwork",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Music": {
      "main": [
        [
          {
            "node": "Check if Extend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Extend": {
      "main": [
        [
          {
            "node": "Extend Music",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Artwork": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extend Music": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-22T15:37:00.000Z",
  "versionId": "1"
}