simple-working-workflow.json
{
  "name": "Music Generator",
  "nodes": [
    {
      "parameters": {
        "path": "generate-music-ai"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "webhook-node",
      "webhookId": "generate-music-ai"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"model\": \"music-u\",\n  \"task_type\": \"generate_music\",\n  \"input\": {\n    \"gpt_description_prompt\": \"{{$json.prompt}}\",\n    \"negative_tags\": \"\",\n    \"lyrics_type\": \"instrumental\",\n    \"seed\": -1\n  }\n}",
        "headerParametersJson": "={\n  \"x-api-key\": \"d3a513bec58ea7c7e60eebf377fbbfb806f2304f12e1ef208cd701139658c088\"\n}"
      },
      "name": "Create Music Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "music-task"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "wait-node"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{$node[\"Create Music Task\"].json.data.task_id}}",
        "headerParametersJson": "={\n  \"x-api-key\": \"d3a513bec58ea7c7e60eebf377fbbfb806f2304f12e1ef208cd701139658c088\"\n}"
      },
      "name": "Get Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [900, 300],
      "id": "get-result"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json"
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300],
      "id": "respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Music Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Music Task": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-22T16:30:00.000Z",
  "active": false
}