simple-music-workflow.json
{
  "name": "Simple Music Generation",
  "nodes": [
    {
      "parameters": {
        "path": "generate-music-ai"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [320, 200],
      "id": "webhook-node",
      "webhookId": "generate-music-ai"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"model\": \"music-u\",\n  \"task_type\": \"generate_music\",\n  \"input\": {\n    \"gpt_description_prompt\": \"{{$json.prompt}}\",\n    \"negative_tags\": \"\",\n    \"lyrics_type\": \"instrumental\",\n    \"seed\": -1\n  }\n}",
        "headerParametersJson": "{\n  \"x-api-key\": \"d3a513bec58ea7c7e60eebf377fbbfb806f2304f12e1ef208cd701139658c088\"\n}"
      },
      "name": "Create Music Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [540, 120],
      "id": "music-task"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.piapi.ai/api/v1/task", 
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"model\": \"flux\",\n  \"task_type\": \"text2img\",\n  \"input\": {\n    \"prompt\": \"{{$json.artworkPrompt || ($json.genre + ' music album cover')}}\"\n  }\n}",
        "headerParametersJson": "{\n  \"x-api-key\": \"d3a513bec58ea7c7e60eebf377fbbfb806f2304f12e1ef208cd701139658c088\"\n}"
      },
      "name": "Create Artwork Task",
      "type": "n8n-nodes-base.httpRequest", 
      "typeVersion": 1,
      "position": [540, 280],
      "id": "artwork-task"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [760, 200],
      "id": "wait-node"
    },
    {
      "parameters": {
        "url": "https://api.piapi.ai/api/v1/task/{{$node[\"Create Music Task\"].json.data.task_id}}",
        "headerParametersJson": "{\n  \"x-api-key\": \"d3a513bec58ea7c7e60eebf377fbbfb806f2304f12e1ef208cd701139658c088\"\n}"
      },
      "name": "Get Music Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [980, 120],
      "id": "music-result"
    },
    {
      "parameters": {
        "url": "https://api.piapi.ai/api/v1/task/{{$node[\"Create Artwork Task\"].json.data.task_id}}",
        "headerParametersJson": "{\n  \"x-api-key\": \"d3a513bec58ea7c7e60eebf377fbbfb806f2304f12e1ef208cd701139658c088\"\n}"
      },
      "name": "Get Artwork Result", 
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [980, 280],
      "id": "artwork-result"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Get Music Result\"].json.data.status}}",
              "value2": "completed"
            },
            {
              "value1": "={{$node[\"Get Artwork Result\"].json.data.status}}",
              "value2": "completed"
            }
          ]
        },
        "combineOperation": "all"
      },
      "name": "Check if Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 200],
      "id": "check-complete"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait", 
      "typeVersion": 1,
      "position": [1200, 380],
      "id": "wait-loop"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"audio_url\": \"{{$node[\"Get Music Result\"].json.data.output}}\",\n  \"image_url\": \"{{$node[\"Get Artwork Result\"].json.data.output}}\",\n  \"extended_audio_url\": null,\n  \"prompt\": \"{{$node[\"Webhook\"].json.prompt}}\",\n  \"genre\": \"{{$node[\"Webhook\"].json.genre || 'electronic'}}\",\n  \"status\": \"completed\"\n}",
        "options": {
          "responseHeaders": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "POST, GET, OPTIONS", 
            "Access-Control-Allow-Headers": "Content-Type",
            "Content-Type": "application/json"
          }
        }
      },
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1420, 200],
      "id": "return-results"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Music Task",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Artwork Task", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Music Task": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Artwork Task": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "Get Music Result",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Artwork Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Music Result": {
      "main": [
        [
          {
            "node": "Check if Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Artwork Result": {
      "main": [
        [
          {
            "node": "Check if Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Complete": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Get Music Result",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Artwork Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}