website/final-music-workflow.json
{
  "name": "Music Generation AI Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "generate-music-ai",
        "options": {
          "responseData": "lastNode"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "name": "Webhook",
      "typeVersion": 1,
      "id": "webhook-1",
      "webhookId": "generate-music-ai"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.prompt}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "position": [
        460,
        300
      ],
      "name": "Validate Input",
      "typeVersion": 1,
      "id": "validate-1"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"model\":\"music-u\",\"task_type\":\"generate_music\",\"input\":{\"gpt_description_prompt\":{{$json.prompt}},\"negative_tags\":\"\",\"lyrics_type\":\"instrumental\",\"seed\":-1}}",
        "headerParametersJson": "={\"x-api-key\":\"{{$vars.PIAPI_API_KEY}}\"}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        200
      ],
      "name": "Create Music Task",
      "typeVersion": 1,
      "id": "music-task-1"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"model\":\"flux\",\"task_type\":\"text2img\",\"input\":{\"prompt\":{{$json.artworkPrompt || ($json.genre + ' music album cover artwork')}},\"width\":512,\"height\":512}}",
        "headerParametersJson": "={\"x-api-key\":\"{{$vars.PIAPI_API_KEY}}\"}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        400
      ],
      "name": "Create Artwork Task",
      "typeVersion": 1,
      "id": "artwork-task-1"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "position": [
        900,
        300
      ],
      "name": "Wait 15s",
      "typeVersion": 1,
      "id": "wait-1"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{$node[\"Create Music Task\"].json.data.task_id}}",
        "headerParametersJson": "={\"x-api-key\":\"{{$vars.PIAPI_API_KEY}}\"}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        200
      ],
      "name": "Poll Music Status",
      "typeVersion": 1,
      "id": "poll-music-1"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{$node[\"Create Artwork Task\"].json.data.task_id}}",
        "headerParametersJson": "={\"x-api-key\":\"{{$vars.PIAPI_API_KEY}}\"}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        400
      ],
      "name": "Poll Artwork Status",
      "typeVersion": 1,
      "id": "poll-artwork-1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Poll Music Status\"].json.data.status}}",
              "value2": "completed"
            },
            {
              "value1": "={{$node[\"Poll Artwork Status\"].json.data.status}}",
              "value2": "completed"
            }
          ]
        },
        "combineOperation": "all"
      },
      "type": "n8n-nodes-base.if",
      "position": [
        1340,
        300
      ],
      "name": "Both Complete?",
      "typeVersion": 1,
      "id": "check-complete-1"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "position": [
        1340,
        500
      ],
      "name": "Wait 5s",
      "typeVersion": 1,
      "id": "wait-poll-1"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "POST, GET, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type",
            "Content-Type": "application/json"
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1560,
        300
      ],
      "name": "Respond to Webhook",
      "typeVersion": 1,
      "id": "respond-1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\":\"Invalid input\",\"message\":\"Prompt is required\",\"status\":\"error\"}",
        "responseCode": 400,
        "options": {
          "responseHeaders": {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json"
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        460,
        500
      ],
      "name": "Error Response",
      "typeVersion": 1,
      "id": "error-1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Create Music Task",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Artwork Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Music Task": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Artwork Task": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "Poll Music Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Poll Artwork Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Music Status": {
      "main": [
        [
          {
            "node": "Both Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Artwork Status": {
      "main": [
        [
          {
            "node": "Both Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Both Complete?": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Poll Music Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Poll Artwork Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-22T16:00:00.000Z",
  "active": false,
  "id": "",
  "versionId": ""
}